#ticketMessage {


    color: black;

background: rgb(204, 255, 103);

    padding: 1%;

    margin-top: 4%;

    text-align: center;
    

}

.affix {
      top: 0;
      width: 100%;
      z-index: 9999 !important;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }