#newUser{

    margin-top: 1.5em
}

.formButton{
    display: inline-block;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 32px;
    padding-left: 32px;
    color: rgb(255, 255, 255);
    border-radius: 18px;
    background-image: linear-gradient(to bottom,#5bc0de 0,#2aabd2 100%);
}

.formButton2{
    display: inline-block;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 41px;
    padding-left: 41px;
    color: rgb(255, 255, 255);
    border-radius: 18px;
    background-image: linear-gradient(to bottom,#5bc0de 0,#2aabd2 100%);
}



